/*
 In the name of ALLAH
 **/
@font-face{
        font-family : "frc";  src: url('RobotoCondensed-Light.ttf');
}
@font-face{
        font-family : "fsc";  src: url('SourceCodePro-Regular.woff');
}
@font-face{
        font-family : "ful";  src: url('Ubuntu-L.ttf');
}
@font-face{
        font-family : "fos";  src: url('OpenSans-Regular.woff');
}
@font-face{
        font-family : "flb";  src: url('LibreBaskerville-Regular.ttf');
}
@font-face{
        font-family : "fmn";  src: url('Montserrat-Regular.woff');
}
::selection{
    color:#ff0e8b;
   /* background-color:#426ecc;*/
}

body{
        font-family:frc,flb,fmn,fos,ful,serif,solaimanlipi,sans-seriff;
        font-size:13px;
        margin:0px;
        background-color:#ffffff;
    }
#container{
       width:90%;
       background-color:transparent;
    }
#intro{
        width:100%;
        height:100px;
        background-color:#194ca5;
        text-align:left;
        position:relative;
        z-index:1500;
}
#menu{
    background-color:#e2eeff;
    line-height:50px;
    font-size:15px;
    clear:both;
    box-shadow:0px .5px 1px .5px #0000ff;
    z-index:1000;
    position:relative;
}
#menu a{
    color:#3133ba;
    padding:10px;
    text-decoration:none;
    }
#menu a:hover{
    border-bottom:solid 3px #7031b9;
    color:#6535ac;
    border-radius:0px;
    }
header{
    background:linear-gradient(to bottom right, #ffffff, #f4f4f4);
    text-align:left;
    width:100%;
    border-radius:5px;
    box-shadow:0px 0px 0px 0px #7d7d7d;
    border-bottom:solid 4px #1407b3;
}
h1{
    font-family:ful,serif;
    font-weight:normal;
    font-size:17px;
    padding:0px 0px;
    color:#fff;
    border-bottom:.2px solid #fff;
}
h2{
    font-family:ful,sans-serif;
    font-weight:normal;
    font-size:13px;
    padding:0px 0px;
    color:#fff;
    line-height:;
    margin-top:-10px;

}
h2 em{
    color:#ffe065;
    font-weight:bold;
}
h3{
    font-family:fos,serif;
    font-weight:normal;
    font-size:13px;
    padding:0px 0px;
    font-style:italic;
    color:#fff;
    margin-top:-10px;
    text-align:right;
}
#space{
    background-color:transparent;
    height:50px;
}
.subject{
    text-align:left;
    padding:60px;
    background:linear-gradient(135deg, #ffffff, #7cdce64f);
    border-radius:5px;
    box-shadow:0px .1px 2px .1px #00f;
    line-height:30px;
    border-bottom:solid 2px #6f12da;

}
p#headline{
    font-family:ful;
    padding:20px;
    display:block;
   /* background:linear-gradient(to bottom, #e6e6e6, #bfbfbf) repeat scroll 0% 0% #FFF;*/
    box-shadow:-1px -1px 7px 1px #e6e6e6,
                inset .5px .5px 4px .1px #f0f0f0,
                1px 1px 7px 1px #e6e6e6;
    margin: 0px;
    font-size:27px;
    color:#5752ee;
    border-radius:3px;
    border-bottom:solid 2px #d83912;
}
.sub{
    font-family:frc;
    font-size:27px;
    color:#6f39ac;
    text-decoration:none;
    font-style:inherit;
    }
table{
    font-size:15px;
    color:#000000;
    /*text-shadow:.5px .5px 4px #6c6c6c;*/
    padding:20px;
    background-image:radial-gradient(#ffffff ,#f4f4f4);
    box-shadow:0px .2px 3px 0.2px #b0b0b0;
    width:100%;
}
td{
    padding:10px;
}
table img{
    height:70px;
    width:auto;
}
.feature{
    text-align:left;
    padding:10px;
    background:linear-gradient(135deg, #ffffff, #7cdce64f);
    border-radius:5px;
    box-shadow:0px .1px 2px .1px #00f;
    line-height:30px;
    border-bottom:solid 2px;
    border-bottom-color:#a24b45;
}
.team{
    text-align:left;
    padding:10px;
    background:linear-gradient(135deg, #ffffff, #7cdce64f);
    border-radius:5px;
    box-shadow:0px .1px 2px .1px #00f;
    line-height:30px;
    border-bottom:solid 2px;
    border-bottom-color:#b338c3;
}

.touch{
    text-align:left;
    padding:10px;
    background:linear-gradient(135deg, #ffffff, #7cdce64f);
    border-radius:5px;
    box-shadow:0px .1px 2px .1px #00f;
    line-height:30px;
    border-bottom:solid 2px;
    border-bottom-color:#5acab2;
}


footer{
    font-family:ful;
    background-color:#000;
    line-height:30px;
    padding:10px;
    color:#ffffff;
    text-align:left;
    display:block;
    box-shadow:-4px 0px 4px 1px #838383;
}
footer span{
    width:30%;
    display:inline-grid;
    position:relative;
    clear:both;
    top:50px;
    padding:5px;
    text-align:left;
}
footer em{
    font-size:17px;
    color:#9ce4ec;
    text-decoration:none;
    left:30px;
    position:relative;
}
footer a{
        text-decoration:none;
        line-height:30px;
        color:#fff;
        left:30px;
        position:relative;
        padding:0px 5px;
}
footer a:hover{
        /*text-decoration:underline;*/
        background-color:#151515;
        color:#9166ff;
}
footer img{
    height:25px;
    width:auto;
    position:relative;
    top:7px;

}
.copy{
    text-align:center;
    background-color:#143e63;
}
